/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background: #fdfdfd;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: auto;
}

#logo {
    width: 300px;
}

/* Header */
.header {
    background: #111;
    color: #fff;
    /* padding: 1.5rem 0; */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



/* Sección de bienvenida */
.bienvenida {
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(to right, #fceabb, #f8b500);
    color: #333;
    animation: fadeIn 1.2s ease-in-out;
    border-radius: 20px;
    margin-top: 2rem;
}

.bienvenida h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.bienvenida .resaltado {
    color: #a65b00;
}

.bienvenida p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Botón */
.boton {
    padding: 0.8rem 2rem;
    background: #111;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.boton:hover {
    background: #333;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1.2rem 0;
    background-color: #222;
    color: #ccc;
    margin-top: 3rem;
    font-size: 0.9rem;
    bottom: 0px;
    
}

/* Animación de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
